#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 6fr 3fr;
  border-style: solid;
  padding: 0.5rem;
}

.item input {
  font-size: 1.5rem;
}

.item__move {
  display: grid;
}

.item__move button {
  padding: 0%;
}

.item__done {}

.item__title {}

.item__description {}